$elevenp-card : '.eleven-card';

#{$elevenp-card}{
	border-radius: .8rem;
	.form-title {
		
		font-family: "Brush Up Too W01 Regular";
		font-weight: normal;
		font-style:normal;
		font-size: 3.125rem;
		color: $bg-theme;
		text-align: center;
		// padding: 0 0 2.375rem;
		-webkit-transform: rotate(-2deg);
		-moz-transform: rotate(-2deg);
		-o-transform: rotate(-2deg);
		-ms-transform: rotate(-2deg);
		transform: rotate(-2deg);

	}
	.card-body {
		padding: 2.813rem;
		@include media-breakpoint-down(sm) {
			padding: 1rem;
		}
	}
	&__form {
		color: #000000;
		
		.pf-col {
			&:nth-child(odd) {
				padding-right: 2.5rem;
			}
			&:nth-child(even) {
				padding-left: 2.5rem;
			}
			@include media-breakpoint-down(sm) {
				padding: .1rem .9rem !important;
			}
		}
		.form-control {
			border: 3px solid #0f0d0f;
			border-radius: 0;
			height: 3.75rem;
		}
	}
}
