<footer class="pb-5">
	<div class="container ribbon">
    <div class="row">
      <div class="col-lg-12 text-expand ">
        <div class="marquee">
            <span>11 PACK / HOT SALE / 11 PACK / HOT SALE / 11 PACK</span>
            <span>11 PACK / HOT SALE / 11 PACK / HOT SALE / 11 PACK</span>
            <span>11 PACK / HOT SALE / 11 PACK / HOT SALE / 11 PACK</span>
            <span>11 PACK / HOT SALE / 11 PACK / HOT SALE / 11 PACK</span>
        </div>
      </div>  
    </div>
	</div>
  <div class="container bg-theme ">
    <div class="col-12 pb-5">
      
    </div>
  </div>
</footer>

<div id="terminos-modal" class="modal fade lucky-modal" tabindex="-1" role="dialog" aria-labelledby="terminos-modalTitle" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content legal-terms">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="page-header">
							<img src="assets/img/logo-mc.png" class="img-fluid logo">

							<h1>TÉRMINOS Y CONDICIONES</h1>
							<h2>MCCARTHYS IRIS PUB®</h2>

							<p>
								<ol>
                  <li>
                    Cupones canjeables en tiendas abiertas con servicio de salón, a partir del Lunes 17 de Agosto 2020
                  </li>
                  <li>
                    Puedes cambiar tus cupones durante todo el mes de Agosto y Septiembre del 2020
                  </li>
                  <li>
                    La cerveza nacional así como el refresco puede variar dependiendo de la sucursal en la que se canjee el cupón
                  </li>
                  <li>
                    Consulta sucursales participantes 
                  </li>
                  <li>
                    El 11 Pack contiene : 11 piezas a elección del cliente de :  Boneless , Alitas (máximo 5 piezas ), Aros de cebolla, Jalapeño poppers, Bolitas mozarella + 1 cerveza de botella nacional, o 1 refresco 
                  </li>
                  <li>
                    Dudas o aclaraciones : <a href="mailto:cuponesfreeandgreen@gmail.com">cuponesfreeandgreen@gmail.com</a>
                  </li>
                </ol>
							</p>		
							
						</div>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>

<div id="sucursales-modal" class="modal fade lucky-modal" tabindex="-1" role="dialog" aria-labelledby="sucursales-modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content legal-terms">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="page-header">
              <img src="assets/img/logo-mc.png" class="img-fluid logo">

              <h1>SUCURSALES PARTICIPANTES</h1>
              <h2>MCCARTHYS IRIS PUB®</h2>

              <ol class="lis-branchs">
                  <li>
                    <span class="title">McCarthy’s Puebla</span> 
                    <ul>
                      <li>Cholula</li>
                      <li>Parque Puebla</li>
                      <li>Explanada</li>
                      <li>Av. Juárez</li>
                      <li>Circuito </li>
                      <li>Lomas de Angelópolis</li>
                      <li>Centro Histórico</li>
                      <li>Vista Alegre</li>
                      <li>Huexotitla</li>
                      <li>Atlixco</li>
                      <li>Teziutlan</li>
                    </ul>
                  </li>
                  <li>
                    <span class="title">McCarthy’s Mérida</span>
                     <ul>
                        <li>Caucel</li>
                        <li>Montejo</li>
                     </ul>
                   </li>
                   <li>
                    <span class="title">McCarthy’s  Quintana Roo</span>
                     <ul>
                        <li>Playa del Carmen</li>
                        <li>Cancún</li>
                     </ul>
                   </li>

                   <li>
                    <span class="title">McCarthy’s Campeche </span>
                     <ul>
                        <li>Campeche</li>
                        <li>Tuxtla</li>
                        <li>Tuxtla Ambar</li>
                     </ul>
                   </li>

                   <li>
                    <span class="title">McCarthy’s CDMX</span>
                     <ul>
                        <li>Roma</li>
                        <li>Nápoles</li>
                        <li>Satélite</li>
                     </ul>
                   </li>

                   <li>
                    <span class="title">McCarthy’s Edo. de Mex.</span>
                     <ul>
                        <li>Metepec</li>
                        <li>Ecatepec</li>
                        <li>Cuautitlán</li>
                     </ul>
                   </li>

                  <li>
                    <span class="title">McCarthy’s Veracruz</span>
                     <ul>
                        <li>Boca del Rio</li>
                        <li>Coatzacoalcos</li>
                     </ul>
                   </li>

                   <li>
                    <span class="title">McCarthy’s Hidalgo</span>
                     <ul>
                        <li>Pachuca Zona Plateada</li>
                        <li>Pachuca Vértice</li>
                     </ul>
                   </li>

                   <li>
                    <span class="title">McCarthy’s Guerrero</span>
                     <ul>
                        <li>Acapulco</li>
                     </ul>
                   </li>

                   <li>
                    <span class="title">McCarthy’s Guanajuato </span>
                     <ul>
                        <li>Celaya</li>
                        <li>San Miguel de Allende</li>
                        <li>Salamanca</li>
                     </ul>
                   </li>
                   <li>
                    <span class="title">McCarthy’s - Aguascalientes</span>
                  </li>
                   <li>
                    <span class="title">McCarhy’s - Colima</span>
                  </li>
                 </ol> 
              
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>


<script src="assets/js/all.js"></script>
</body>
</html>
