@font-face {font-family: "Hurme Geometric Sans 1 W03 Bold";
  src: url("../fonts/Hurme-Geometric-Sans-1/3d39b8275b919f261349f3195e029bbc.eot"); /* IE9*/
  src: url("../fonts/Hurme-Geometric-Sans-1/3d39b8275b919f261349f3195e029bbc.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/Hurme-Geometric-Sans-1/3d39b8275b919f261349f3195e029bbc.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/Hurme-Geometric-Sans-1/3d39b8275b919f261349f3195e029bbc.woff") format("woff"), /* chrome、firefox */
  url("../fonts/Hurme-Geometric-Sans-1/3d39b8275b919f261349f3195e029bbc.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/Hurme-Geometric-Sans-1/3d39b8275b919f261349f3195e029bbc.svg#Hurme Geometric Sans 1 W03 Bold") format("svg"); /* iOS 4.1- */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	font-display: swap;	
}

@font-face {font-family: "Brush Up Too W01 Regular";
  src: url("../fonts/Brush-Up-Too/fc35b6a7243e8672fb59340563fc0fbd.eot"); /* IE9*/
  src: url("../fonts/Brush-Up-Too/fc35b6a7243e8672fb59340563fc0fbd.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/Brush-Up-Too/fc35b6a7243e8672fb59340563fc0fbd.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/Brush-Up-Too/fc35b6a7243e8672fb59340563fc0fbd.woff") format("woff"), /* chrome、firefox */
  url("../fonts/Brush-Up-Too/fc35b6a7243e8672fb59340563fc0fbd.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/Brush-Up-Too/fc35b6a7243e8672fb59340563fc0fbd.svg#Brush Up Too W01 Regular") format("svg"); /* iOS 4.1- */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	font-display: swap;	
}